<template>
  <div class="wrapper">
    <div class="particleHolder">
    <vue-particles
      color="#dedede"
      :particleOpacity="0.7"
      :particlesNumber="120"
      shapeType="circle"
      :particleSize="4"
      linesColor="#000000"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.4"
      :linesDistance="150"
      :moveSpeed="3"
      :hoverEffect="true"
      hoverMode="grab"
      :clickEffect="true"
      clickMode="push"
    />
    </div>
  <div class="row">
    <div class="col-md-2">
      <project-explorer-component :directory="directory" :config="explorerConfig"/>
    </div>
    <div class="col-md-6 text-center">
      <recorder-component
        :disableRecording="!directory"
      @updateProjectExplorer="updateProjectExplorer"/>
    </div>
    <div class="col-md-3 offset-1">
      <code class="m-5">
        <h5 class="text-left">Available Commands:</h5>
      <p v-for="(item, ind) in actions" :key="ind" class="text-left">
        <span class="text-success">{{ind+1}}. Say <span class="text-danger">{{item.value}}</span> to create new {{item.action}}</span>
      </p>
      </code>
    </div>
  </div>
  </div>
</template>
<script type="ts" src="./app.component.ts"></script>
<style>
.particleHolder{
  position: absolute;
  width: 100vw;
  height: 100vh;
}
</style>
