<template>
  <div class="mb-4">
    <div id="controls">
      <button type="button" id="loadFileXml" class="text-left btn btn-lg btn-primary btn-bloc" value="loadXml" onclick="document.getElementById('file').click();">
        Select Project Directory
      </button>
      <input type="file" style="display:none;" webkitdirectory multiple id="file" name="file" @input="uploadFiles"/>
      <button id="recordButton" :disabled="isRecording || $props.disableRecording" @click="startRecording" class="btn btn-danger m-4 btn-circle btn-xl">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-mic-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
          <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </button>
    </div>
    <div class="row">
      <div class="modal-dialog-scrollable col-md-6">
        <code class="transcript">
          <h5 class="text-left">Commands History:</h5>
          <div v-if="transcriptLoading" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <p v-for="(item, ind) in transcript" :key="ind" class="text-left">
            <span class="text-danger" v-if="item.match('user voice')">
              {{ind+1}}. {{item}}
            </span>
            <span class="text-warning" v-if="item.match('question')">
              {{ind+1}}. {{item}}
            </span>
            <span class="text-success" v-if="item.match('user input')">
              {{ind+1}}. {{item}}
            </span>
          </p>
        </code>
      </div>
      <div class="col-md-6">
        <QuestionComponent @onCommand="onCommand"
                           @questionsCompleted="questionsCompleted"
                           :questionType="questionType"
                           :question-index="nextUserQuestion"/>
      </div>
    </div>
  </div>
</template>
<script src="./recorder.component.ts"/>
<style>
.transcript{
  background-color: rgba(0,0,0, 0.7);
  padding: 3%;
  width: 100%;
}
</style>
