<template>
  <div class="row">
    <div class="col-md-12 text-center text-danger" v-if="!$props.directory">
      <p class="mt-5">Select Project Directory in order to start</p>
    </div>
  </div>
</template>
<script src="./projectExplorer.component.ts"/>
